menuconfig NANO_LOG_ENABLED
    bool "nano_log configuration"
    default n

    config NANO_LOG_DYNAMIC
        bool "compile component as dynamic(shared) lib"
        default n
        depends on NANO_LOG_ENABLED
        help
            Enable include static lib(from gcc)
