
mainmenu "C/CPP CMake project framework Kconfig configuration"

menu "Toolchain configuration"
	config TOOLCHAIN_PATH
		string "toolchain path"
		default ""

	config TOOLCHAIN_PREFIX
		string "toolchain prefix"
		default ""

	config TOOLCHAIN_FLAGS
		string "toolchain FLAGS"
		default ""

	config LIB_LINK_SEARCH_PATH
		string "lib link search patch"
		default ""

	choice
		prompt "host system type"
		default TOOLCHAIN_SYSTEM_UNIX
	config TOOLCHAIN_SYSTEM_UNIX
		bool "unix"
	config TOOLCHAIN_SYSTEM_WIN
		bool "win"
	endchoice

	config REPO_AUTOMATION
		bool 'Download automation for the repo.'
		default n

	config COMMPILE_DEBUG
		bool 'commpile debug msg!'
		default n
endmenu

menu "Components configuration"
	osource "${SDK_PATH}/components/*/Kconfig"
	osource "${PROJECT_PATH}/../components/*/Kconfig"
	osource "${PROJECT_PATH}/*/Kconfig"
endmenu

config USE_STRIP_REDUCE_SIZE_ENABLED
	bool "strip reduce size"
	default n