
menuconfig MINICV2_COMPONENT_ENABLED
    bool "Enable minicv2"
    default n

    config MINICV2_COMPONENT_DYNAMIC
        bool "compile component as dynamic(shared) lib"
        default n
        depends on MINICV2_COMPONENT_ENABLED

