
menuconfig SQLITE3_COMPOENENT_ENABLED
    bool "Enable sqlite3 lib"
    default n

    config SQLITE3_COMPOENENT_DYNAMIC
        bool "compile component as dynamic(shared) lib"
        default n
        depends on SQLITE3_COMPOENENT_ENABLED

