menuconfig LVGL_COMPONENT_ENABLED
    bool "Enable lvgl"
    default n

if LVGL_COMPONENT_ENABLED
    menu "lvgl version"
		choice
			prompt "choice lvgl version"
			default LVGL_9_0_SRC
		config LVGL_9_0_SRC
			bool "enable lvgl9.0"
			help
				build by LVGL!
		config LVGL_9_3_SRC
			bool "enable lvgl9.3"
			help
				build by LVGL!
		endchoice

    endmenu

if LVGL_9_3_SRC
	osource "${SDK_PATH}/components/lvgl_component/lvgl_9_3/Kconfig"
endif

endif
