
menuconfig TINYALSA_COMPONENT_ENABLED
    bool "Enable tinyalsa_component"
    default n

    config TINYALSA_COMPONENT_DYNAMIC
        bool "compile component as dynamic(shared) lib"
        default n
        depends on TINYALSA_COMPONENT_ENABLED

