
menuconfig FREETYPE_ENABLED
    bool "Enable freetype_component"
    default n



    config FREETYPE_DYNAMIC
        bool "compile component as dynamic(shared) lib"
        default n
        depends on FREETYPE_ENABLED

