
menuconfig BACKWARD_CPP_ENABLED
    bool "Enable Backward_cpp"
    default n

    config BACKWARD_CPP_DYNAMIC
        bool "compile component as dynamic(shared) lib"
        default n
        depends on BACKWARD_CPP_ENABLED

