
menuconfig TOMMATH_ENABLED
    bool "Enable libtommath"
    default n

    config TOMMATH_DYNAMIC
        bool "compile component as dynamic(shared) lib"
        default n
        depends on TOMMATH_ENABLED

